@font-face {
    font-family: "Roboto";
    src: url("/static/assets/fonts/roboto-400.woff2") format("woff2"),
           url("/static/assets/fonts/roboto-400.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/assets/fonts/roboto-500.woff2") format("woff2"),
           url("/static/assets/fonts/roboto-500.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: "Roboto";
    src: url("/static/assets/fonts/roboto-700.woff2") format("woff2"),
           url("/static/assets/fonts/roboto-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: block;
}